.logo {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navMenu {
    display: flex;
    z-index: 100;
    position: sticky;
    top: 0px;
    background-color: #03142e;
    justify-content: space-around;
    width: 100%;
    font-size: 30px;
}
